.jumbotron {
    background-image: url("https://cdn.appcircle.online/appcircle.online/wallpapers/87f75cf79c34b2c9.original.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px; 
    width: 100%;
    padding-top: 10; 
    text-align: center;
    border: 1px solid #424242;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

  }